
	
}
/* --- STYLES DE BASE POUR LE TEXTE ET LES PRINCIPAUX ÉLÉMENTS --- */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* Page */
html {
	font-size: 100%; 

}
body {
	position:relative;
	margin: 0;
	padding: 10px 20px; 
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 1em;
	line-height: 1.25; 
	color: black;
	background: #dbceb0;
}


/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}
h1, h2 {
	font-weight: normal; 
}
h1 {
	font-size: 3em; 
	font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

a, p, td, th{font-size:1.2em;}


/* Listes */
ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}

li {
	margin: .75em 0;
	padding: 0;
}

/* Paragraphes */
p {
	margin: .75em 0;
}
li p, blockquote p {
	margin: .5em 0;
}

/* Citations */
blockquote, q {
	font-size: 1.1em;
	font-style: italic;
}
blockquote {
	margin: .75em 0 .75em 24px;
}
cite {
	font-style: italic;
}

/* Liens */
a {
	color: white;
	text-decoration:none;
}
a:hover, a:focus {
	text-shadow:1px 1px 1px black;
}
a img {
	border: none; 
}

/* Divers éléments de type en-ligne */
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: dimgray;
}


/* --- STYLES POUR CERTAINS CONTENUS DES GABARITS --- */

pre, code {
	font-size: 100%;
	font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
	width: 90%;
	overflow: auto;
	overflow-y: hidden;
	margin: .75em 0;
	padding: 12px;
	background: #eee;
	color: #555;
}
pre strong {
	font-weight: normal;
	color: black;
}
#copyright {
	margin: 20px 0 5px 0;
	text-align: right;
	font-size: .8em;
	color: #848F63;
}
#copyright a {
	color: #848F63;
	text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
	text-decoration: underline;
}

/* --- STYLES DE MISE EN PAGE --- */

#img-greta
{
	width:250px;
	float:left;
	padding: 0 10px 10px 0;
}

.left_sidebar
{
	position:relative;
	box-sizing:border-box;
	float:left;
	width:100%;
}

.right_sidebar
{
	position:relative;
	float:left;
	width:25%;
}

/* --- STYLE MENU --- */
.menu_horizontal
{
	width:auto;	
}

.menu_horizontal ul
{
	display:block;
	position:relative;
	float:left;	
	width:33%;
	height:auto;
}

.menu_horizontal li
{
	list-style: none;
	height:auto;
}

.menu_horizontal ul, .menu_horizontal li
{
	text-align:center;
	margin:0;
	padding:0;
	box-sizing:border-box;				
}

.menu_horizontal ul:nth-child(3n+2) /*Permet de prendre 100% de l'écran au lieu de 99%, avec 3 boutons.*/
{
	width:34%;
}

.menu_horizontal ul:hover
{
	opacity:0.5;
	overflow:visible;
	transition:opacity ease-out 0.1s;
}

.menu_horizontal ul:nth-child(4n+1)
{	background-color:#D3D601;}
.menu_horizontal ul:nth-child(4n+2)
{	background-color:#F29400;}
.menu_horizontal ul:nth-child(4n+3)
{	background-color:#8AC9BE;}
.menu_horizontal ul:nth-child(4n+4)
{	background-color:#FEDD16;}

.menu_horizontal a
{
	display:block;
	padding:1em;
	text-decoration:none;	
}
		
#bou-connexion
{
	background-color: D3D602 !important;
}

#bou-deconnexion
{
	background-color: #E95122 !important;	
}

/* --- STYLE SOUS-MENU --- */
.sous-menu
{
	height:6.4em;
	width:auto;
}

.sous-menu ul
{
	width:25% !important;
}

.sous-menu ul li a
{
	margin:0;
	padding:0;
	display:block;
	padding:1em;
}

.sous-menu p
{
	text-align:center;
	margin:1em;
}

/* --- STYLE IHM AJOUT DEVIS --- */


#bou-plusLigne
{
	display:block;
	padding:1em 0;
	width:100%;
	text-align:center;
	box-sizing:border-box;
	float:right;
	transition: background linear 0.1s;
	background: #478bf9;
}

#bou-plusLigne:hover, #bou-confirmerDevis:hover, #btn-voirDetail:hover, #btn-ajouterUnDevis:hover
{
	transition: background-color ease-in 0.1s;
	background-color: #367ae8;
}

#bou-confirmerDevis
{	
	display:block;
	float:right;
	right:0;
	bottom:0;
	padding:0.5em;
	margin: 15px;	
	transition: background linear 0.1s;
	background: #478bf9;	
}

#details-article input, #details-article select
{
	width:100%;
	height:2em;
}

/* --- STYLE IHM LISTE DEVIS --- */

#btn-voirDetail
{
	display: block;
	padding:0.5em;
	margin:1%;
	background:#478bf9;
   	float:right;
   	transition: background linear 0.1s;   	  
}

#btn-ajouter
{
	display: block;
	padding:0.5em;
	margin: 15px;
	background:#478bf9;
   	float:right;
   	transition: background linear 0.1s;   	  
}

#bloc-liste
{
	position:relative;
	background:#B2C3C0;
	border-top:solid 1px black;
	height:12em;
}	


#bloc-liste row
{
	position:relative;
	display:block;
	width:100%;
	height:4em;
}

#bloc-liste row p
{
	display:block;
	float:left;
	width:33%;	
}

#bloc-liste row p input
{
	display:block;
	float:right;
	width:40%;
}
	
/* --- STYLE IHM DETAILS --- */

#conteneur
{
	position:relative;
	height:500px;
	width:100%;
	box-sizing:border-box;
	border:solid 1px black;
	overflow:auto;
}	


#details-vente
{
	position:absolute;
	width:100%;		
	height:33%;
	box-sizing:border-box;
	border-bottom:solid 1px black;	
	margin-bottom:1%;		
}

#details-vente p
{
	float:left;
	width:31%;
	margin-left: 1%;
	margin-right: 1%;
	box-sizing:border-box;
}

#details-vente p input, #details-vente p select
{
	float:right;
	width:50%;	
}


#details-vente row:first-child p input, #details-vente row:first-child p select
{
	width:16%;
}

#details-vente row:first-child p
{	
	width:97%;
}

#details-article
{
	position:absolute;
	width:100%;
	height:65%;
	top:35%;
	box-sizing:border-box;
	overflow-y:scroll;	
	overflow-x:none;
}

#details-article table td, #details-article table th
{	
	max-width:10%;
	box-sizing:border-box;
	border-left:solid 1px black;
}

/* --- STYLE SMARTPHONE --- */	

@media screen and (max-width: 980px)
{
	body
	{
		padding-top:0px;
		margin:0px;
		font-size:3em;
	}
	
	#img-greta
	{
		display:block;
		padding:0px 0px 0px 0px;
		margin-left:20%;
		width:60%;
		top:0;
	}
	
	#titre-gestco
	{
	display:none;
	}
	
	.left_sidebar
	{
		float:left;
		width:100%;
	}
	
	.right_sidebar, #copyright
	{
		float:left;
		width:100%;
		text-align:center;
	}
		
	.menu_horizontal ul
	{
		width:50% !important;
		box-sizing:border-box;
		border:solid 5px #ddd;
		background-color: #EEE;	
	}
		
	#bou-connexion, #bou-deconnexion
	{
		width:100% !important;
	}
		
	.sous-menu
	{
		height:10.8em;
	}	
}

