
	
}
/* --- STYLES DE BASE POUR LE TEXTE ET LES PRINCIPAUX ÉLÉMENTS --- */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* Page */
html {
	font-size: 100%; 
	background: #dbceb0;
}
body {
	position:relative;
	margin: 0;
	margin: 2.6em 5%; 
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 1em;
	line-height: 1.25; 
	color: black;
	background: #dbceb0;
}


/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; 
}
h1, h2 {
	font-weight: normal; 
}
h1 {
	font-size: 3em; 
	font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4
{
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
}

a, p, td, th{font-size:1.2em;}


/* Listes */
ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; 
}

li {
	margin: .75em 0;
	padding: 0;
}

/* Paragraphes */
p {
	margin: .75em 0;
}
li p, blockquote p {
	margin: .5em 0;
}

/* Citations */
blockquote, q {
	font-size: 1.1em;
	font-style: italic;
}

sub
{
	font-size:0.66em;
}

blockquote {
	margin: .75em 0 .75em 24px;
}
cite {
	font-style: italic;
}

/* Liens */
a {
	color: white;
	text-decoration:none;
}
a:hover, a:focus {
	text-shadow:1px 1px 1px black;
}
a img {
	border: none; 
}

/* Divers éléments de type en-ligne */
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: dimgray;
}


/* --- STYLES POUR CERTAINS CONTENUS DES GABARITS --- */

header
{
	display:block;
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;	
}

header img
{
	max-width:25%;
}


pre, code {
	font-size: 100%;
	font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
	width: 90%;
	overflow: auto;
	overflow-y: hidden;
	margin: .75em 0;
	padding: 12px;
	background: #eee;
	color: #555;
}
pre strong {
	font-weight: normal;
	color: black;
}

input, select
{
	border:none;
	font-size:1em;
}

*[readonly]
{
	background:#e9e9e9;
}

#copyright {
	margin: 20px 0 5px 0;
	text-align: right;
	font-size: .8em;
	color: #848F63;
}
#copyright a {
	color: #848F63;
	text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
	text-decoration: underline;
}

.hidden
{
	display:none;
}

/* --- STYLES DE MISE EN PAGE --- */

#img-greta
{
	width:250px;
	float:left;
	padding: 0 10px 10px 0;
}

.left_sidebar
{
	position:relative;
	box-sizing:border-box;
	float:left;
	width:100%;
}

.bloc_menus
{
	position:relative;
	width:100%;
	overflow:hidden;
}

.bloc_menus div
{
	position:relative;
	float:left;
}

.conteneur
{
	position:relative;	
	width:100%;
	margin-top:1em;
	box-sizing:border-box;
	overflow:hidden;
}	

.conteneur.border
{
	border:solid 1px black;
}


.conteneur row 
{
	position:relative;
	display: block;
	overflow: hidden;
	height:auto;
}


.right_sidebar
{
	position:relative;
	float:left;
	width:100%;
}


.footer
{
	display:block;
	position: relative;
	float:right;
	width:100%;
}


/* --- STYLE FORM CONNEXION --- */

#form-connexion
{
	position:relative;
	display:block;
	width:calc(50% + 2em);	
	margin:auto;
	padding:1em;
	overflow:hidden;
	border:solid 1px black;
}

#form-connexion *
{
	font-size:1.2em;
	margin:1em 0;			
}

#form-connexion span
{
	display:block;
	width:50%;	
	float:left;	
}

#form-connexion input
{
	float:right;
	width:50%;
	border:none;
}

#form-connexion .btn-classique
{
	width:100%;
	margin:auto;
}


/* --- STYLE MENU --- */
.menu_horizontal
{
	width:30%;	
}

.menu_horizontal ul
{
	display:block;
	position:relative;
	float:left;	
	width:100%;
	height:auto;
}

.menu_horizontal li
{
	list-style: none;
	height:auto;
}

.menu_horizontal ul, .menu_horizontal li
{
	text-align:center;
	margin:0;
	padding:0;
	box-sizing:border-box;				
}

.menu_horizontal ul:hover
{
	opacity:0.5;
	overflow:visible;
	transition:opacity ease-out 0.1s;
}

.menu_horizontal ul:nth-child(4n+1)
{	background-color:#D3D601;}
.menu_horizontal ul:nth-child(4n+2)
{	background-color:#F29400;}
.menu_horizontal ul:nth-child(4n+3)
{	background-color:#8AC9BE;}
.menu_horizontal ul:nth-child(4n+4)
{	background-color:#FEDD16;}

.menu_horizontal a
{
	display:block;
	padding:1em;
	text-decoration:none;	
}
		
#btn-connexion
{
	background-color: D3D602 !important;
}

#btn-deconnexion
{
	background-color: #E95122 !important;	
}

.separation_menu
{
	overflow:hidden;
	padding: 2.5%;
	
}

#bandeau_connexion
{
	position:fixed;
	top:0;
	right:0;
	width:auto;
	overflow:hidden;
	z-index:999;
	border-bottom:solid 1px black;
	border-left:solid 1px black;
	box-sizing:border-box;
}

#bandeau_connexion ul
{
	width:200px;
	float:right;
}

#bandeau_connexion a
{
	padding:0.5em;
}


p#infoUser
{
	display:block;
	float:right;
	margin:0;
	padding:0.5em;
	z-index:-1;
	background:#dbceb0;
}

/* --- STYLE BASE LISTES --- */

.div-liste bloc
{
	display:block;
	position:relative;
	background:#B2C3C0;
	width:100%;
	overflow:hidden;
	border-top:solid 1px black;	
}

 .div-liste row
 {
	position:relative;
	width:98%;	
	margin:1%;
}

.div-liste row p
{
	display:block;
	float:left;
	width:33%;
	margin: 1em 0;
}

.div-liste row p input, .div-liste row p select
{
	display:block;
	float:right;
	text-align:center;
	font-size:1em;
	width:50%;
}


.div-liste textarea
{
	position:relative;
	display:block;
	width:98%;
	padding:1%;
	resize:vertical;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	
}


/* --- STYLE IHM AJOUT DEVIS --- */

.btn-classique
{
	display: block;
	padding:0.5em;
	margin: 0.5em;
	background:#478bf9;
   	float:right;
   	box-sizing:border-box;
   	text-align:center;
   	transition: all linear 0.1s;   	  
}

.btn-plusLigne
{
	padding:0.8em 0;
	margin:0;
	width:100%;
	min-width:1500px;
	float:left;
}

.btn-classique:hover
{
   	transition: all linear 0.1s;   	  	
}

#details-articles-devis input, #details-articles-devis select
{
	width:100%;
	text-align:center;
	font-size:1em;
}


#details-articles-devis table
{
	min-width:1500px;
}
#details-articles-devis table th
{
	position:relative;
	width:5%;
	border-right:solid 1px black;
}
#details-articles-devis table th[text]
{
	width:20%;
}

#details-articles-devis table td
{
	border-right:solid 1px black;	
}


/* --- STYLE IHM LISTE DEVIS --- */
	
.div-filtres
{
	position:relative;
	width:50%;
	overflow:hidden;
	padding: 0 1em;
}

.div-filtres div
{
	position:relative;
	width:50%;
	float:left;
	box-sizing:border-box;
	overflow:hidden;
}

.div-filtres div p
{
	position:relative;
	margin:0.33em 0;
	width:100%;
	float:left;
	box-sizing:border-box;
	overflow:hidden;
}

.div-filtres div p input
{
	width:33%;
	height:2em;
	float:right;	
}

	
/* --- STYLE IHM DETAILS DEVIS --- */


#details-vente
{
	position:relative;
	width:100%;		
	box-sizing:border-box;
	overflow:hidden;
}

#details-vente p
{
	float:left;
	width:31%;
	margin-left: 1%;
	margin-right: 1%;
	box-sizing:border-box;
}

#details-vente p input, #details-vente p select
{
	float:right;
	width:50%;	
	text-align:center;
	font-size:1em;
}


#details-vente row
{
	width:100%;
}

#details-vente row:first-child p
{	
	width:97%;
}

#details-articles-devis
{
	position:relative;
	box-sizing:border-box;
	height:250px;
	overflow:auto;
	border-top:solid 1px black;
}

#details-articles-devis select option:first-child
{
	visibility:hidden;	
}


/* --- STYLE IHM LISTE PREPARATIONS --- */


/* --- STYLE IHM DETAILS PREPARATION --- */

#details-preparation-articles row
{
	position:relative;
	width:100%;	
	background:#B2C3C0;
	border-top:solid 1px black;	
	box-sizing:border-box;	
}

#details-preparation-articles row p
{	
	display:block;
	float:left;
	width:33%;
	margin: 1em 0;	
}

#details-preparation-articles row p input
{
	display:block;
	width:50%;
	float:right;
}


#details-preparation-articles .btn-details-preparation
{
	display:none;
}

/* --- STYLE IHM DETAILS LIVRAISON --- */

.div-liste-details-livraison bloc row p
{
	width:50%;
}


/* --- STYLE IHM LISTE RELIQUATS --- */


.liste-reliquats row p, .liste-reliquats row p input
{
	width:50%;
}


/* --- STYLE IHM DETAIL ENTREPRISE --- */

#details-entreprise
{
	positio:relative;
	width:100%;
	box-sizing:border-box;
	overflow-x:hidden;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
}

#details-entreprise row
{

	position:relative;
	display:block;
	width:100%;
	height:4em;
	
}

#details-entreprise row p
{
	display:block;
	float:left;
	width:33%;	
	padding:0.1em;
}

#details-entreprise row p input
{
	display:block;
	float:right;
	width:40%;
}
	
/* --- STYLE IHM LISTE FOURNISSEURS ET CLIENTS --- */


/* --- STYLE IHM LISTE ARTICLES --- */


.div-liste-articles bloc row p input[type=number]
{
	  width:25%;
}


.div-liste-articles bloc row p
{
	  width:50%;
}


/* --- STYLE IHM DETAILS ARTICLE --- */


#details-infos-article row
{
	position:relative;
	padding:1%;	
}

#details-infos-article row p
{
	display:block;
	float:left;
	margin: 0.5em 0;
	width:50%;	
}

#details-infos-article row p input, #details-infos-article row p select
{
	float:right;
	overflow:hidden;
	width:50%;
}

#details-info-article-localisation, #details-info-article-localisation select
{
	width:75% !important;
}

#onglets-details-article
{
	width:100%;
	margin:0;
	padding:0.5em 0;
	overflow:hidden;
}

#onglets-details-article div
{
	width:50%;
	padding:0.5em;
	margin:0;
	float:left;
	text-align:center;
	background:#B2C3C0;	
	box-sizing:border-box;
	border:solid 1px black;
	cursor:pointer;
}

#onglets-details-article div[active=true]
{
	font-weight:bold;
	background:white;
}

#div-onglets-details-article
{
	position:relative;
	width:100%;	
	overflow:hidden;
}

#div-on-cmup
{
	position:relative;
	width:100%;
}

#div-on-cmup row
{
	width:48%;
	float:left;
	padding:1%;	
}

#div-on-cmup row p
{
	width:100%;
}
#div-on-cmup row p input
{
	float:right;
}

#div-on-cmup row:last-child p
{
	width:100%;
	text-align:center;
}
#div-on-cmup row:last-child p input
{
	margin:0 25%;
	width:50%;	
	font-size:2em;
	float:none;
}

#div-on-mouv table
{
	width:100%;
}

#div-on-mouv row table th, #div-on-mouv row table td
{
	text-align:center;
	margin:0;
	border:solid 1px black;
}

#div-on-mouv row table td input, #div-on-mouv row table td select
{
	width:100%;
}


#div-on-mouv row tr
{
	background:#B2C3C0;	
}

#div-on-mouv row tr:nth-child(2n)
{
	background:#dae9e7;	
}

#div-qtes
{
	position:relative;
	float:left;
	width:50%;
	border:solid 1px black;
	box-sizing:border-box;
	margin:0.5em;
	padding: 0 0.25em;
	background:#f5f0dc;
}

#div-qtes p
{
	position:relative;
	float:left;
	width:50%;
}

#div-qtes p input
{
	position:relative;
	float:right;
	width:50%;
}





/* --- STYLE SMARTPHONE --- */	

@media screen and (max-width: 980px)
{
	body
	{
		padding-top:0px;
		margin:0px;
		font-size:3em;
	}
	
	#img-greta
	{
		display:block;
		position:relative;
		padding:0px 0px 0px 0px;
		margin:auto;
		width:100%;
		float:none;
		top:0;
	}
	
	#titre-entreprise
	{
	display:none;
	}
	
	.left_sidebar
	{
		float:left;
		width:100%;
	}
	
	.right_sidebar, #copyright
	{
		float:left;
		width:100%;
		text-align:center;
	}
		
	/* --- STYLE FORM CONNEXION SMARTPHONE --- */
	
	#form-connexion span, #form-connexion input
	{
		width:100%;
		margin:0;
	}
	
	#form-connexion a
	{
		margin-top:1em !important;
	}
	
	/* --- STYLE MENU SMARTPHONE --- */
		
	.menu_horizontal 
	{
		width:100%;
	}
	
	.menu_horizontal ul
	{
		width:50% !important;
		box-sizing:border-box;
		border:solid 3px white;
		background-color: #EEE;	
	}
	.separation_menu
	{
		display:none;		
	}
		
	#btn-connexion, #btn-deconnexion
	{
		width:100% !important;
	}
		
	#bandeau_connexion
	{
		position:relative;
		width:100%;
		height:auto;
		overflow:hidden;
	}	
	#bandeau_connexion a
	{
		padding:0.5em;	
		width:auto;
	}
	
		
	/* --- STYLE IHM ARTICLES SMARTPHONE --- */
	
	.conteneur row 
	{
		display: block;
		overflow: auto;
	}
	.conteneur row p
	{
		width:100% ;
		margin:0;
		padding:0;
		font-size:1.5em;
	}
	
	.conteneur row p input
	{
		width:100%;
		font-size:1em;
		text-align:center;
	}	
	
	.btn-large
	{
		margin:0;
		margin-top:1em;
		width:100%;
	}
	
	/* --- STYLE IHM DIV DETAILS VENTE  --- */
	
	#details-vente p
	{
		float:left;
		width:98%;
		margin-left: 1%;
		margin-right: 1%;
		box-sizing:border-box;
	}
	
	#details-vente p input, #details-vente p select
	{
		float:right;
		width:100%;	
	}
	
	
	#details-vente row
	{
		width:100%;
	}
	
	#details-vente row:first-child p
	{	
		width:97%;
	}
	
	/* --- STYLE IHM DETAILS PREPARATION --- */
	
	#details-preparation-articles
	{
		width:100%;
		overflow:hidden;
	}
	
	.btn-details-preparation
	{
		width:100%;
		background:#dd5555;
		margin:0;
		padding:0.75em;
		border-top:solid 5px white;
	}
	
	#details-preparation-articles row
	{
		width:100%;
		padding: 0 2%;	
		border-bottom:solid 1px black;
		box-sizing:border-box;
		display:none;
	}
	
	#details-preparation-articles row p
	{
		width:100%;
		margin:0;
	}
	
	#details-preparation-articles row p input
	{
		width:100%;
		margin:0;
	}
	
	#details-preparation-articles row .btn-classique
	{
		font-size:0.85em;
	}
	
	#details-preparation-articles p.p-demi
	{
		width:45%;
		float:left;
	}
	
	#details-preparation-articles p.right
	{
		float:right;
	}
	
	#details-preparation-articles .btn-details-preparation
	{
		display:block;
	}	
}

